.memotest-page {
  display: flex;
  justify-content: center;
  gap: 5dvh;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
  background-image: url("../../img/game/bg-game.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100dvh;

  .timer-top {
    width: 86vw;
    height: 5vw;
    min-height: 18px;
    margin-top: 4dvh;
  }

  .title-row {
    width: 86vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    h2 {
      color: white;
      font-size: 7vw;
      margin: 0;
      font-weight: 800;
      line-height: 1.15;
      text-align: center;
      font-family: "Kievit Black", sans-serif;
    }
  }

  .table-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4dvh;

    img {
      width: 30vw;
    }
  }

  @media (min-width: 1000px) and (orientation: portrait) and (max-aspect-ratio: 65/100) {
    justify-content: space-between;
    gap: 0;

    .timer-top {
      height: 7vw;
    }
    .title-row {
      h2 {
        font-size: 6.5vw;
      }
    }
    .footer img {
      width: 37vw;
    }
  }
}
